[build]
builder = "NIXPACKS"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "dhronepredicts-management"
source = "."
buildCommand = "npm install && npm run build"
startCommand = "npm start"
